.color1{
    color: skyblue;
    background-color: darkorchid;
}

.color2{
    color: tomato;
    background-color: blue;
}

.elemento1{
    color: green;
    background-color: greenyellow;
}

.elemento2{
    color: fuchsia;
    background-color: gray;
}